.woocommerce-cart,
.woocommerce-checkout {

	.variation {

		dd {
			display: none !important;
		}

		dt {
			display: none !important;
		}

		.variation-Name {
			display: inline-block !important;
		}
	}
}

.product-conclave-2015 {

	div.product {

		.images {
			display: none;
		}

		div.summary {
			width: 100%;
			float:left;
		}

		#gform_browse_button_2_16 {
			float: none;
			padding: 5px 10px !important;
			font-size: 14px !important;			
		}

		.product_totals {
			display: none !important;
		}
	}
}

.single-product {

	#sidebar {
		display: none;
	}

	#main-content .container:before {
		display: none;
	}

	#left-area {
		margin: 0 auto;
		float: none;
	}
}

#order_review {

	.product-total {
		display: none;
	}
}

.page-trading-post {

	.product {

		.et_shop_image {
			min-height: 203px;
		}

		.et_overlay {
			text-align:center;

			&:before {
				display: none;
			}

			.button {
				display: inline-block;
			}

			button {
				margin: 50px 0 25px;
			}

			.added_to_cart {
				display: none !important;
			}
		}

		.mobile-buttons {
			text-align: center;

			.button {
				margin: 0 auto 8px;
				display: block;
				width: 100%;
				box-sizing: border-box;
			}
		}
	}

	.et_pb_widget_area {
		@include min(800px) {
			position: fixed;
			max-width: 225px;
		}
	}
}