.woocommerce-cart,
.woocommerce-checkout,
.widget_shopping_cart_content {

	.variation {

		dd {
			display: none !important;
		}

		dt {
			display: none !important;
		}

		.variation-Name {
			display: inline-block !important;
		}

		.variation-Size {
			display: inline-block !important;
		}
	}
}

.woocommerce {
	.widget_shopping_cart_content {

		li {
			font-weight: bold;
		}

		img {
			display: none;
		}

		.variation {
			padding: 0 !important;
			border: none !important;
		}

		dt.variation-Name {
			display: none !important;
		}

		dd.variation-Name {
			margin-left: 0 !important;
			margin-bottom: 0 !important;
			font-weight: normal;
		}

		.quantity {
			font-weight: normal;
		}
	}
}

.woocommerce .outofstock span.onsale,
.woocommerce-page .outofstock span.onsale {
	background: #e93838 !important;
}

.woocommerce .outofstock .et_overlay,
.woocommerce-page .outofstock .et_overlay {
	display: none !important;
}

.product-conclave-2015 {

	div.product {

		.images {
			display: none;
		}

		div.summary {
			width: 100%;
			float:left;
		}

		#gform_browse_button_2_16 {
			float: none;
			padding: 5px 10px !important;
			font-size: 14px !important;
		}

		.product_totals {
			display: none !important;
		}
	}
}

.single-product {

	#sidebar {
		display: none;
	}

	#main-content .container:before {
		display: none;
	}

	#left-area {
		margin: 0 auto;
		float: none;
	}
}

#order_review {

	.product-total {
		display: none;
	}
}

.page-trading-post {

	.product {

		.et_shop_image {
			min-height: 203px;
		}

		.et_overlay {
			text-align:center;

			&:before {
				display: none;
			}

			.button {
				display: inline-block;

				&:first-of-type {
					margin-top: 1.5em;
				}
			}

			button {
				margin: 50px 0 25px;
			}

			.added_to_cart {
				display: none !important;
			}
		}

		.mobile-buttons {
			text-align: center;

			.button {
				margin: 0 auto 8px;
				display: block;
				width: 100%;
				box-sizing: border-box;
			}
		}
	}

	.et_pb_widget_area {
		@include min(800px) {
			position: fixed;
			max-width: 225px;
			overflow: scroll;
			max-height: 65vh;
		}
	}
}

#left-area .woocommerce-message {
	line-height: 2em;

	a {
		&.or {
			border: none !important;
			padding: 5px 15px !important;
		}
	}

	.button {
		padding: 5px !important;
		border: 2px solid white !important;
	}
}

.continue-shopping {
	position: relative;
	z-index: 999;
	margin-top: 20px;
}

.page-id-376 {
	.main_title {
		float: left;
	}

	.continue-shopping {
		float: right;
	}
}

.woocommerce-breadcrumb {
	display: none !important;
}

.single-product {

	.continue-shopping {
		margin-bottom: 25px !important;
	}
}

.product-conclave-2017 {

	.continue-shopping {
		display: none !important;
	}

	div.product {

		div.images {
			display: none;
		}

		div.summary {
			width: 100%;
		}

		.related {
			display: none;
		}
	}

	.woocommerce-tabs {
		display: none;
	}
}
